@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(241, 209, 248, 0.637);
    font-family: 'Roboto Slab', serif;
}

.contenedorGeneral{
    display: flex;
}

h1{
    text-align: center;
}

.contenedorAdmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 20vw;
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
}

.icono{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.icono p{
    color: blueviolet;
}

.iconosA{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedorMenu{
    width: 90vw;
    margin: 10px;
}

.inicioMenu{
    height: 7vh;
    color: blueviolet;
    display: grid;
    align-items: center;
    border-radius: 20px;
    background-color: white;

}

.almacenandoCreditos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 20px;
    margin-top: 10px;
}

.creditosTotal{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    height: 80px;
    width: 300px;
    padding: 15px;
    margin: 5px;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(245, 179, 236);
}

.iconoCredito{
    display: grid;
    align-items: center;
}

.numeroClientes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.tituloP{
    color: rgb(0, 174, 255);
    font-size:x-large;
}

.fa-credit-card, .fa-person-circle-check{
    color: rgb(0, 153, 255);
}

.numeroClientes{
    border-radius: 20px;
    height: 110px;
    width: 300px;
    padding: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px rgb(245, 179, 236);
}

.cerrar{
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
}

.cerrar:hover{
    background-color: rgba(136, 118, 118, 0.534);
    color: blueviolet;
}

.buttonAdmin{
    border: none;
    cursor: pointer;
}

.formCliente{
    border: 1px solid black;
}

.tableCliente{
    background-color: white;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
}

table{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.trCol{
    background-color: blueviolet;
    color: white;
}

td{
    padding: 10px;
}

.contenedorCrearCliente{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.buscarCliente{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;

}

.buscarCliente input{
    border: none;
    height: 30px;
}

.fa-magnifying-glass{
    color: rgb(0, 153, 255);
    padding: 5px;
    background-color: rgb(174, 223, 247);
    border-radius: 4px;
}

.crearCliente{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
}

.crearCliente:hover{
    background-color: rgba(136, 118, 118, 0.534);
    color: blueviolet;
    cursor: pointer;
}

.buttonActualizar{
    height: 30px;
    width: 70px;
    border-radius: 10px;
    border: none;
    background-color: rgb(174, 223, 247);
    color: white;
}

.buttonActualizar:hover{
    background-color: rgb(0, 153, 255);
    cursor: pointer;
}

.buttonEliminar{
    height: 30px;
    width: 70px;
    border-radius: 10px;
    border: none;
    background-color: rgb(247, 174, 174);
    color: white;
}

.buttonEliminar:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}



/* probando */
.alert-message {
    font-size: 20px;
    margin: 24px 0 0;
    color: red!important;
    text-align: center;
}

.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-editar {
    background-color: green;
}

.btn-eliminar {
    background-color: red;
}

.div-empleados{
    border: 1px solid black;
    height: 100px;
} 










